body {
  overflow-y: auto;
}

/* .top-content {
    padding: 210px 0;
} */

.top-image{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

@media only screen and (min-device-width: 480px) {
  .top-image{
    height: auto;
  }
}

.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.4)!important;
}

.bg-dark {
  background-color: #231F20!important;
}
