body {
  overflow-y: auto;
}

.top-image{
  object-fit: cover;
  width: 100%;
  min-height: 200px;
}

.navbar {
	background: #231F20;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}

.navbar-no-bg {
  opacity: 0.66;
  /* background: rgba(0, 0, 0, 0.66)!important; */
}

.navbar-brand {
  letter-spacing: 2px;
}

.code {
  font-family: monospace, monospace;
}